fastapi==0.110.1
uvicorn==0.25.0
starlette==0.37.2

pydantic==2.7.1
typing_extensions==4.10.0

pymongo==4.5.0
motor==3.3.1

python-dotenv==1.0.1
python-multipart==0.0.9

requests==2.31.0
urllib3==2.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6

inference-sdk==0.9.22

fpdf2==2.8.2